---
---

<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Astro</title>
</head>

<body>
  <form method="post" action="/success" netlify name="contact">
    <div class="card w-full md:w-1/2 bg-base-100 shadow-xl m-auto">
      <div class="card-body">
        <h2 class="card-title">Get in touch!</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.
        </p>
        <div class="my-4">
          <label for="name">Name:</label>
          <input id="name" name="name" type="text" placeholder="Type here" class="input input-bordered input-info w-full mt-2" />
        </div>
        <div class="my-4">
          <label for="email">Email:</label>
          <input id="email" name="email" type="text" placeholder="Type here" class="input input-bordered input-info w-full mt-2" />
        </div>
        <div class="my-4">
          <label for="message">Message:</label>
          <textarea id="message" name="message" class="textarea textarea-info w-full mt-2" placeholder="Bio"></textarea>
        </div>
        <div class="form-control">
          <label class="cursor-pointer label flex flex-row justify-start">
            <input type="checkbox" name="tos" checked="checked" class="checkbox checkbox-accent mr-4" />
            <span class="label-text">Accept terms and conditions.</span>
          </label>
        </div>
        <div class="form-control">
          <label class="cursor-pointer label flex flex-row justify-start">
            <input type="checkbox" name="newsletter" class="checkbox checkbox-accent mr-4" />
            <span class="label-text">Subscribe to newsletter. </span>
          </label>
        </div>
        <div class="card-actions">
          <button class="btn btn-success w-full md:w-32" type="submit">Success</button>
        </div>
      </div>
    </div>
  </form>
</body>

</html>