---
---

<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Astro</title>
</head>

<body>
  <div class="card w-full md:w-1/2 bg-base-100 shadow-xl m-auto">
    <div class="card-body">
      <h2 class="card-title">Sent</h2>
      <p>Your form has been sent!</p>
    </div>
  </div>
</body>

</html>